<template>

  <div class="container">
    <NavigationPage/>

    <div class="mt-5">
        <router-view/>
    </div>
  </div>
</template>

<script lang="ts">
  import NavigationPage from "@/components/Nav.vue";

  export default {
    components: {NavigationPage}
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

</style>
