<template>
    <div>
        <h2>Главная страница</h2>

        <div>
            <div>
                <button @click="fetchUsers" class="btn btn-primary m-3">Получить всех пользователей</button>
                <h4 v-if="loading">Загружаю данные...</h4>
            </div>

            <table class="table table-striped">
                <thead>   
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Дата Рождения</th>
                        <th scope="col">E-mail</th>
                        <th scope="col"></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <th scope="row">{{user.id}}</th>
                        <td>{{user.telephoneNumber}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.birthDate}}</td>
                        <td>{{user.email}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="ts">
import {onMounted} from "vue";
import { useStore } from "vuex";
import axios from "axios";
import store from "@/store";

    export default {
        name: "HomePage",

         data() {
            return {
            users: [],
            loading: false,
            }
        },
        methods: {
            fetchUsers() {
            (this as any).loading = true;
            (this as any).users = [];
            axios
                .get("http://localhost:5000/api/users")
                .then((response) => {
                const data = response.data;
                (this as any).users = data;
                (this as any).loading = false;
                });
            },
        },

        setup(){
            const store = useStore();
            onMounted(async () => {
                try{
                    await fetch("http://localhost:5000/api/user", {
                        headers: {"Content-Type": "application/json"},
                        credentials: 'include'
                    });

                    await store.dispatch('setAuth', true);
                } catch (e) {
                    await store.dispatch('setAuth', false);
                }
            })
        },
    }
    
</script>

<style>

</style>