<template>

    <div class="m-auto w-50 mt-5 p-3">
        <h2 class="text-center ">Вход</h2> 

        <form @submit.prevent="loginFunc">
            <div class="mb-3">
                <input v-model="data.email" type="email" class="form-control" id="email" placeholder="Введите логин (e-mail)" autocomplete="username" required>
            </div>
            <div class="mb-3">
                <input v-model="data.password" type="password" class="form-control" id="password" placeholder="Введите пароль" autocomplete="current-password" required>
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</template>

<script lang="ts">
import { reactive } from "vue";
import { useRouter } from "vue-router";

    export default {
        name: "LoginPage",

        setup() {
            const router = useRouter();

            const data = reactive({
                email: "",
                password: ""
            });

            const loginFunc = async () => { 

                
                await fetch("http://localhost:5000/api/login", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    credentials: 'include',
                    body: JSON.stringify(data),
                });

                await router.push("/");
            }

            return {data, loginFunc}
        }
    }
</script>