<template>
    <div class="m-auto w-50 mt-5 p-3">
        <h2 class="text-center ">Регистрация</h2> 

        <form @submit.prevent="submitFunc">
            <div class="mb-3">
                <input v-model="data.firstName" placeholder="Введите Ваше Имя" type="text" class="form-control" id="firstName" required>
            </div>

            <div class="mb-3">
                <input v-model="data.lastName" placeholder="Введите Вашу Фамилию" type="text" class="form-control" id="lastName" required>
            </div>

            <div class="mb-3">
                <input v-model="data.telephoneNumber" placeholder="Введите телефон" type="text" class="form-control" id="telephoneNumber" required>
            </div>

            <div class="mb-3">
                <input v-model="data.birthDate" placeholder="Введите дату рождения" type="date" class="form-control" id="birthDate" required>
            </div>

            <div class="mb-3">
                <input v-model="data.email" placeholder="Введите E-mail" type="email" class="form-control" id="email" autocomplete="username" required>
            </div>
            <div class="mb-3">
                <input v-model="data.password" type="password" class="form-control" id="password" placeholder="Введите пароль" autocomplete="current-password" required>
            </div>

            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</template>

<script lang="ts">
import { reactive } from "vue";
import { useRouter } from "vue-router";

    export default {
        name: "RegisterPage",
        setup() {
            const router = useRouter();

            const data = reactive({
                firstName: "",
                lastName: "",
                telephoneNumber: "",
                birthDate: "",
                email: "",
                password: ""
            });

            const submitFunc = async () => { 
                await fetch("http://localhost:5000/api/register", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(data)
                });

                await router.push("/login");
            }

            return {data, submitFunc}
        }
    }
</script>

<style>

</style>