<template>
    <nav class="nav d-flex justify-content-between mt-3">
        <router-link to="/" class="nav-link block" href="#">Главная страница</router-link>
        <div class="w-25" v-if="!isNotAuth">
            <router-link to="/login" class="nav-link d-inline" href="#">Логин</router-link>
            <router-link to="/register" class="nav-link d-inline" href="#">Регистрация</router-link>
        </div>

        <div class="w-25" v-if="isNotAuth">
            <a href="/login" class="nav-link" @click="logOut">Выход</a> 
        </div>
    </nav>
</template>

<script lang="ts">
import { computed } from "vue";
import { useStore } from "vuex"

    export default {
        name: "NavigationPage",

        setup(){
            const store = useStore();

            const isNotAuth = computed(() => store.state.authenticated);

            const logOut = async () => {
                await fetch("http://localhost:5000/api/logout", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    credentials: 'include',
                });
            }

            return {
                isNotAuth,
                logOut
            }
        }
    }
</script>
